pyrogram; python_version >= "3.10"
tgcrypto; python_version >= "3.10"
telethon; python_version >= "3.10"
pillow; python_version >= "3.10"
opencv-python; python_version >= "3.10"
requests; python_version >= "3.10"
python-dotenv; python_version >= "3.10"
colorama; python_version >= "3.10"
aiohttp; python_version >= "3.10"
cffi; python_version >= "3.10"
wheel; python_version >= "3.10"
cryptography; python_version >= "3.10"
pycryptodome; python_version >= "3.10"
typing_extensions; python_version >= "3.10"
setuptools; python_version >= "3.10"