pyrogram; python_version >= "3.16"
tgcrypto; python_version >= "3.16"
telethon; python_version >= "3.16"
pillow; python_version >= "3.16"
opencv-python; python_version >= "3.16"
requests; python_version >= "3.16"
python-dotenv; python_version >= "3.16"
colorama; python_version >= "3.16"
aiohttp; python_version >= "3.16"
cffi; python_version >= "3.16"
wheel; python_version >= "3.16"
cryptography; python_version >= "3.16"
pycryptodome; python_version >= "3.16"
typing_extensions; python_version >= "3.16"
setuptools; python_version >= "3.16"